@import '../../styles/variables.scss';


.wrapperDiscount {
    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-direction: column;
    width: 95%;

    gap: 2rem;
    margin: 2rem 0 ;
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }
    p {
        font-size: 1.1rem;
        color: $secondaryColor;
        font-weight: 300;
    }
    text-align: center;
    
}
.wrapperInput {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;


    justify-content: center;

    button {
        padding: 1rem 0;
        width: 130px;
        color: white;
        background-color: $primaryColor;
        border:none;

        cursor: pointer;
    }
    input {
        width: 320px;
        padding: .5rem;
    }
    @media screen and (max-width:500px) {
        gap:1rem;
        button{
            width: 80%;
        }
    }
}