@import"../../../styles//variables.scss";

.wrapperCard {
    display: flex;

  
    width: 100%;

 box-shadow: .1px .1px 2px black;

    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 0;
    input {
        display: inline-block;
        width: 80px;
        height: 34px;
    }


}

.wrapperImgDescription {

    display: flex;
    min-width: 320px;
    max-width: 800px;
   
    p {
        display: -webkit-box;

        width: 300px;
        margin: 5px 0 0 0;
        font-weight: 200;
        color: $primaryColor;
        margin-bottom: 5px;

        overflow: hidden;
        max-height: 42px;
        -webkit-text-decoration: none;
        text-decoration: none;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }


}

.containerDescription {
    display: flex;
    flex-direction: column;

    color: $fontColorSecondary;
    padding: 5px;
    gap: 15px;
   p {
    font-weight: 500;
   }
    
    span {
        font-weight: 400;
    }
}

.imgCart {
    width: 100px;
    height: 100px;
}

.close {
    font-size: 2rem;

    color: $markedColor;
    cursor: pointer;

}

.price {



    font-weight: 500;


}