@import"../../../styles//variables.scss";

.wrapperCard {
    display: flex;


    width: 100%;

   border-bottom: 1px solid black;
   border-top: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 0;
    flex-wrap: wrap;

    input {
        display: inline-block;
        width: 80px;
        height: 34px;
        min-width: none;
    }


}

.wrapperImgDescription {

    display: flex;

    
    width: 400px;
    min-width: 320px;

 
    p {
        display: -webkit-box;

      
        margin: 5px 0 0 0;
        font-weight: 200;
        color: $primaryColor;
        margin-bottom: 5px;

        overflow: hidden;
        max-height: 42px;
        -webkit-text-decoration: none;
        text-decoration: none;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        width: 100%;
       
    }


}

.containerDescription {
    display: flex;
    flex-direction: column;

    color: $fontColorSecondary;
    padding: 5px;
    gap: 15px;
    overflow: hidden;

    p {
        font-weight: 500;
        min-width: none;
        width: 100%;
       
    }

    span {
        font-weight: 400;
    }
}

.imgCart {
    width: 100px;
    height: 100px;
}

.close {
    font-size: 2rem;

    color: $markedColor;
    cursor: pointer;

}

.price {



    font-weight: 500;


}