@import "../../styles/variables.scss";

.cardBody {
    display: flex;
    flex-direction: column;


    border-radius:$borderRadius;
    width:250px;
    height: 300px;

    
    overflow: hidden;
    
    gap: .8rem;
}

.cardImg { 

    display: flex;

    justify-content: center;
    background-color:$tertiaryColor;
    
    img {
 
        width: 70%;
    
        height: 180px;

    }
}
.price, .cardTitle {
    font-weight: 600;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $fontColorSecondary !important;
}

.cardBrand {
    color: $secondaryColor;
}
.favorite {
   
    color: red;
}

.favoritefalse {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;

    width: 50px;
    border-radius: 50%;
}

.containerCard {
    position: relative;

    svg {
        position: absolute;
        right: 10px;
        top: 5px;

        font-size: 1.5rem;

    }
}