@import "../../styles/variables.scss";

.cardBody {
    display: flex;
    flex-direction: column;


    border-radius:$borderRadius;
    width:250px;
    height: 300px;

    
    overflow: hidden;
    
    gap: .8rem;
}

.cardImg { 

    display: flex;

    justify-content: center;
    background-color:$tertiaryColor;
    
    img {
 
        width: 70%;
    
        height: 180px;

    }
}
.price, .cardTitle {
    font-weight: 600;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $fontColorSecondary !important;
}

.cardBrand {
    color: $secondaryColor;
}
