@import "../../styles/variables.scss";

.cardBody {
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 300px;

    overflow: hidden;

    gap: .8rem;
}

.cardImg {

    display: flex;

    justify-content: center;
    background-color: $tertiaryColor;

    width: 100%;
    height: 200px;

    img {

        width: 90%;
        height: 100%;

    }
}

.price,
.cardTitle {
    font-weight: 500;

    font-family: outrfi;
    color: #494949 !important;
    font-size: 14px;
}

.containerCard {
    position: relative;

    svg {
        position: absolute;
        right: 10px;
        top: 5px;

        font-size: 1.5rem;

    }
}

.price {
    color: #374151;
    font-weight: 600;
}