@import"../../styles//variables.scss";

.containerMain {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;

    width: 100%;
    min-height: 100vh;

    border-radius: $borderRadius;

    padding: 1rem;


       

    

}
