@import "../../styles/variables.scss";

.wrapperCategoryPopular {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    margin: 3rem 0 15px 0;
    h2 {
        font-weight: 500;
    }
}

.wrapperCardsCategory {
    display: flex;


    gap: 1rem;

    height: auto;
    width: 100%;

    flex-wrap: wrap;

    & :nth-child(1) {
        width: 400px;
        min-width: none;
        justify-self: flex-start;
    }
}