@import "../../styles/variables.scss";

.wrapperTitle {
    display: flex;
    gap: 1rem;

    flex-direction: column;
    width: 100%;
    height: auto;

    text-align: center;
  

    h3 {
        font-size: 32px;
        font-weight: 400;
        color:$markedColor;
    }
    h3 span {
        
        color:$secondaryColor;

    }
    h2 {
        font-size: 18px;
        font-weight: 400;
        color: $secondaryColor;
    }
}