@import"../../styles//variables.scss";

.containerMain {
    display: flex;

    position: relative;

    flex-direction: column;
    
    width: 100%;
    min-height: 100vh;
   



}
.wrapperCards {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;

    width: 100%;
    gap: 5px;
}

.totalValueCart {
    display: flex;
  
    justify-content: flex-end;
}
.wrapperTotal {
    display: flex;
    
    flex-direction: column;
    width: 450px;
    min-width: none;
    
    gap:1rem;
    padding: 1rem;
    
    border-radius:$borderRadius;
    
    
    
    
    display: flex;
    
    
    
    button {

        width: 240px;
        height: 50px;
        border: none;
  

        color: $tertiaryColor;
    
        padding: .5rem;
        background-color: $markedColor;
    
    font-weight:700 ;
        cursor: pointer;

        align-self: flex-end;
    }
    div:has(>p) {
        display: flex;
        width: 100%;

        justify-content: space-between;

    }

}

.title {
    color: $fontColorSecondary;
    font-weight: 600;
    font-size: 1.2rem;
}