@import "../../styles/variables.scss";

.header {
    display: flex;

    height: 100px;
  

    width: 100%;
    max-width: 100vw;

    align-items: center;
    justify-content: space-between;

    padding: 15px;

}

.wrapperLi {
    display: flex;

    gap:10px;
    font-size:1.1rem;

    color:$fontColorSecondary;

}

.markedLetter {
    color:$markedColor;
}