@import "../../styles/variables.scss";

.header {
    display: flex;

    height: 100px;
  

    width: 100%;
    max-width: 100vw;

    align-items: center;
    justify-content: space-between;

    padding: 15px;

    flex-wrap: wrap;
    height: auto;
    @media screen and (max-width:650px) {
        .wrapperIconsMenu,.wrapperLi {
            display: none;
        }
   
        .menu {
            display: flex;
        }
    }

}
.title {
    color: $secondaryColor;
}

.wrapperLi {
    display: flex;

    gap:10px;
    font-size:1.1rem;

    color:$fontColorSecondary;
    a {

        color: $fontColorSecondary;
    }
    li {
        cursor:pointer;

    }
  
}
.wrapperIconsMenu {
    display: flex;

    gap: 1rem;

    font-size: 1.5rem;

    color: $primaryColor;
    li {
        cursor: pointer;
    }
    a {
        color: $primaryColor;
    }
}

.markedLetter {
    color:$markedColor;
}
.menu {
    display: none;
    font-size: 3rem;
    font-weight: bold;
    
    border-radius: 50%;
    color: $primaryColor;
    cursor:pointer;
}

