@import "../../styles/variables.scss";


.wrapperImgs {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 15px;

    margin: 0 auto;

    min-height: auto;
}

.firstImg {
    width: 80%;
    min-width: 320px;
    height: 400px;

    border-radius: $borderRadius;
}
.secondaryImg {
    width: 350px;
    height: 400px;

    min-width: 320px;

    border-radius: $borderRadius;
}