@import "../../styles/variables.scss";


.wrapperImgs {
    display: flex;
    justify-content: center;
    flex: 1;


    margin: 0 auto;

    min-height: auto;
    
  
}

.firstImg {
    width: 100%;
    min-width: 320px;
    height: 400px;
}